<%
use crate::tmpl_helper;
%>
<html>
  <head>
    <title>xHummingbird</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
  </head>
  <body>
    <div id="breadcrumb">
      <% let title2 = title.clone(); %>
      <% let service2 = service.clone(); %>
      <% if title2 != None && service2 != None { %>
      <img width="16px" height="16px" src="/static/img/logo.svg"> <a href="/">xHummingbird</a> &gt; <a href="/events">Events</a> &gt; Filter: service = '<%= service2.unwrap() %>', title = '<%= title2.unwrap() %>' 
      <% } else if title2 != None { %>
      <img width="16px" height="16px" src="/static/img/logo.svg"> <a href="/">xHummingbird</a> &gt; <a href="/events">Events</a> &gt; Filter: title = '<%= title2.unwrap() %>' 
      <% } else if service2 != None { %>
      <img width="16px" height="16px" src="/static/img/logo.svg"> <a href="/">xHummingbird</a> &gt; <a href="/events">Events</a> &gt; Filter: service = '<%= service2.unwrap() %>' 
      <% } else {%>
      <img width="16px" height="16px" src="/static/img/logo.svg"> <a href="/">xHummingbird</a> &gt; Events
      <% } %>
    </div>
    <div id="main-pane">
      <h1>Events</h1>
      <% if title != None || service != None { %>
      <div>
        Filter condition:
      </div>
      <% if service != None { %>
      <div>
        service = '<%= service.clone().unwrap() %>' <a href="<%= tmpl_helper::filter_link(title.clone(), None) %>">[X]</a>
      </div>
      <% } %>
      <% if title != None { %>
      <div>
        title = '<%= title.clone().unwrap() %>' <a href="<%= tmpl_helper::filter_link(None, service.clone()) %>">[X]</a>
      </div>
      <% } %>
      <div><a href="/events">Clear filters.</a></div>
      <% } %>
      <h2>Frequency</h1>
      <canvas id="frequency-chart" width="400" height="40"></canvas>
      <% if titles.is_some() { %>
      <h2>Summary</h1>
      <table>
        <tr><th>Service</th><th>Title</th><th>Num of events</th><th>Latest timestamp</th><th colspan="42">Trend</th></tr>
      <% for s in titles.unwrap() { %>
      <tr>
        <td><a href="<%= tmpl_helper::filter_link(title.clone(), Some(s.service.clone())) %>"><%= s.service %></a></td>
        <td><a href="<%= tmpl_helper::filter_link(Some(s.title.clone()), service.clone()) %>"><%= s.title %></a></td>
        <td><%= s.count %></td>
        <td><%= s.latest_timestamp.to_rfc2822() %></td>
        <% for n in s.trend { %>
        <td>
          <span class="<%= tmpl_helper::color_class(n) %>">#</span>
        </td>
        <% } %>
      </tr>
      <% } %>
      </table>
      <% } %>
      <h2>List</h1>
      <div>
        <% if from == None { %>
        Showing the latest events.
        <% } else { %>
        <a href="/events">Show latest events.</a>
        <% } %>
      </div>
      <table>
        <tr>
          <th>Id</th>
          <th>Level</th>
          <th>Service</th>
          <th>Title</th>
          <th>Message</th>
          <th>Timestamp</th>
        </tr>
        <% if events.len() > 0 { %>
        <% for event in events { %>
        <tr>
          <td><a href="<%= event.event_link() %>"><%= event.id %></a></td>
          <td><%= event.level %></td>
          <td><a href="<%= tmpl_helper::filter_link(title.clone(), Some(event.service.clone())) %>"><%= event.service %></a></td>
          <td><a href="<%= tmpl_helper::filter_link(Some(event.title.clone()), service.clone()) %>"><%= event.title %></a></td>
          <td><%= event.message %></td>
          <td><%= event.timestamp_rfc2822 %></td>
        </tr>
        <% } %>
        <% } else { %>
        <tr><td colspan="5" class="no-data">NO DATA</td></tr>
        <% } %>
      </table>
      <div>
        <% if next_link == None { %>
        There are no older events.
        <% } else { %>
        <a href="<%= next_link.unwrap() %>">Show older events.</a>
        <% } %>
      </div>
    </div>
    <script crossorigin src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script>
      var data = <%= stat_array %>;
    </script>
    <script src="/static/js/frequency-chart.js"></script>
  </body>
</html>
