<%
use crate::tmpl_helper;
%>
<html>
  <head>
    <title>xHummingbird</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
  </head>
  <body>
    <div id="breadcrumb">
      <% let title2 = title.clone(); %>
      <% if title2 != None { %>
        <img width="16px" height="16px" src="/static/img/logo.svg"> <a href="/">xHummingbird</a> &gt; <a href="/events">Events</a> &gt; Filter: title = '<%= title2.unwrap() %>'
      <% } else {%>
        <img width="16px" height="16px" src="/static/img/logo.svg"> <a href="/">xHummingbird</a> &gt; Events
      <% } %>
    </div>
    <div id="main-pane">
      <h1>Events</h1>
      <% if title != None || service != None { %>
      <div>
        Filter condition:
      </div>
      <% } %>
      <% if service != None { %>
      <div>
        service = '<%= service.unwrap() %>'
      </div>
      <% } %>
      <% if title != None { %>
      <div>
        title = '<%= title.unwrap() %>'
      </div>
      <% } %>
      <h2>Frequency</h1>
      <canvas id="frequency-chart" width="400" height="40"></canvas>
      <% if titles.is_some() { %>
      <h2>Summary</h1>
      <table>
        <tr><th>Service</th><th>Title</th><th>Num of events</th></tr>
      <% for s in titles.unwrap() { %>
      <tr><td><%= s.service %></td><td><a href="<%= tmpl_helper::title_to_title_link(&s.title) %>"><%= s.title %></a></td><td><%= s.count %></td></tr>
      <% } %>
      </table>
      <% } %>
      <h2>List</h1>
      <div>
        <% if from == None { %>
        Showing the latest events.
        <% } else { %>
        <a href="/events">Show latest events.</a>
        <% } %>
      </div>
      <table>
        <tr>
          <th>Id</th>
          <th>Level</th>
          <th>Service</th>
          <th>Title</th>
          <th>Message</th>
          <th>Timestamp</th>
        </tr>
        <% if events.len() > 0 { %>
        <% for event in events { %>
        <tr>
          <td><a href="<%= event.event_link() %>"><%= event.id %></a></td>
          <td><%= event.level %></td>
          <td><%= event.service %></td>
          <td><a href="<%= event.events_link() %>"><%= event.title %></a></td>
          <td><%= event.message %></td>
          <td><%= event.timestamp_rfc2822 %></td>
        </tr>
        <% } %>
        <% } else { %>
        <tr><td colspan="5" class="no-data">NO DATA</td></tr>
        <% } %>
      </table>
      <div>
        <% if next_link == None { %>
        There are no older events.
        <% } else { %>
        <a href="<%= next_link.unwrap() %>">Show older events.</a>
        <% } %>
      </div>
    </div>
    <script crossorigin src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script>
      var data = <%= stat_array %>;
    </script>
    <script src="/static/js/frequency-chart.js"></script>
  </body>
</html>
