<html>
  <head>
    <title>xHummingbird</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
  </head>
  <body>
    <div id="breadcrumb">
      <img width="16px" height="16px" src="/static/img/logo.svg"> xHummingbird
    </div>
    <div id="main-pane">
      <h1>xHummingbird</h1>
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/config">Config</a></li>
      </ul>
    </div>
  </body>
</html>
