<html>
  <head>
    <title>xHummingbird</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
  </head>
  <body>
    <div id="breadcrumb">
      <img width="16px" height="16px" src="/static/img/logo.svg"> <a href="/">xHummingbird</a> &gt; status
    </div>
    <div id="main-pane">
      <h1>Status</h1>
      <table>
        <tr><th>Item</th><th>Value</th></tr>
        <tr><td>Started</td><td><%= started.to_rfc3339() %></td></tr>
        <tr><td>Num of events</td><td><%= num_of_events %></td></tr>
      </table>
    </div>
  </body>
</html>
