html {
  font-size: 14px;
}

body {
  /* font-family: sans-serif; */
  font-family: monospace;
  background-color: #fdfffd;
  color: #333;
  font-size: 100%;
}

#breadcrumb {
  border-bottom: solid 1px #6acd7f;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin: 0 0 0.25rem 0;
}

#main-pane {
  padding: 0 0.5rem 0 0.5rem;
}

#main-pane > div {
  margin: 0 0 0.5rem 0;
}

table {
  border-collapse:collapse;
  font-size: 100%;
  margin: 2rem 0 2rem 0;
  width: 90%;
}

tr {
  border-bottom: solid 1px #6acd7f;
}

td, th{
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: left;
}

a{
  color: #333;
  text-decoration: none;
  border-bottom: dashed 1px #333;
}

a:hover{
  color: #6acd7f;
  text-decoration: none;
  border-bottom: dashed 1px #6acd7f;
}

h1 {
  font-size: 150%;
}

td.no-data {
  text-align: center;
}

canvas {
  max-width: 90%;
}

.trend0 {
  color: transparent;
  font-weight: bold;
}

.trend1{
  color: #97a199;
  font-weight: bold;
}

.trend2 {
  color: #8daa93;
  font-weight: bold;
}

.trend3 {
  color: #7eb98b;
  font-weight: bold;
}

.trend4 {
  color: #6acd7f;
  font-weight: bold;
}
